@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.counter-main {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0f0e0e;
}

.counter {
	padding: 4rem;
	background-color: white;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
}

p {
	font-size: 2rem;
	font-family: sans-serif;
	margin-bottom: 2rem;
	font-family: "Montserrat", sans-serif;
}

button {
	font-size: 1.5rem;
	padding: 1rem 2rem;
	text-transform: uppercase;
	background-color: white;
	border: 2px solid #0f0e0e;
	color: #0f0e0e;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.2s;
	box-shadow: 0 1px 3px 1px rgba(128, 128, 128, 0.479);
	font-family: "Montserrat", sans-serif;
}

button:hover {
	background-color: #0f0e0e;
	color: white;
}

button:active {
	box-shadow: 0 0 0 0 transparent;
	background-color: #0f0e0e;
	color: white;
	border-color: #0f0e0e;
	transform: scale(0.98);
}
